@font-face {
    font-family: 'Suisse Intl thin';
        src: url('font/Suisse Intl Mono/thin/SuisseIntlMono-Thin.eot') format('eot'),
             url('font/Suisse Intl Mono/thin/SuisseIntlMono-Thin.svg') format('svg'),
             url('font/Suisse Intl Mono/thin/SuisseIntlMono-Thin.ttf') format('ttf'),
             url('font/Suisse Intl Mono/thin/SuisseIntlMono-Thin.woff') format('woff'),
             url('font/Suisse Intl Mono/thin/SuisseIntlMono-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Suisse Intl regular';
        src: url('font/Suisse Intl Mono/regular/SuisseIntlMono-Regular.eot') format('eot'),
             url('font/Suisse Intl Mono/regular/SuisseIntlMono-Regular.svg') format('svg'),
             url('font/Suisse Intl Mono/regular/SuisseIntlMono-Regular.ttf') format('ttf'),
             url('font/Suisse Intl Mono/regular/SuisseIntlMono-Regular.woff') format('woff'),
             url('font/Suisse Intl Mono/regular/SuisseIntlMono-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Suisse Intl bold';
        src: url('font/Suisse Intl Mono/bold/SuisseIntlMono-Bold.eot') format('eot'),
             url('font/Suisse Intl Mono/bold/SuisseIntlMono-Bold.svg') format('svg'),
             url('font/Suisse Intl Mono/bold/SuisseIntlMono-Bold.ttf') format('ttf'),
             url('font/Suisse Intl Mono/bold/SuisseIntlMono-Bold.woff') format('woff'),
             url('font/Suisse Intl Mono/bold/SuisseIntlMono-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Neurial Grotesk regular';
        src: url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.eot') format('eot'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.svg') format('svg'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.ttf') format('ttf'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.woff') format('woff'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Neurial Grotesk medium';
        src: url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.eot') format('eot'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.svg') format('svg'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.ttf') format('ttf'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.woff') format('woff'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Neurial Grotesk bold';
        src: url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.eot') format('eot'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.svg') format('svg'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.ttf') format('ttf'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.woff') format('woff'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.woff2') format('woff2');
}

:root {
    --sans-font: Neurial Grotesk regular;
    --mono-font: Suisse Intl regular;
    --navbar-height: 40px;
}

*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Suisse Intl regular;
    font-size: 0.92rem;
}
a {
    text-decoration: none;
    color: black;
}
/* TEMPLATE */
.flex-display-center-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: center; /* main axis of conatiner - H */
}
.flex-display-center-start{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: flex-start; /* main axis of conatiner - H */
}
.flex-display-start-center{
    display: flex;
    align-content: flex-start; /* cross axis of container - V */
    align-items: flex-start; /* all children on cross axis - vertical center*/
    justify-content: center; /* main axis of conatiner - H */
}
.flex-display-sa-start{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: flex-start; /* all children on cross axis - vertical center*/
    justify-content: space-around; /* main axis of conatiner - H */
}
.flex-display-sa-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-around; /* main axis of conatiner - H */
}
.flex-display-sb-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-between; /* main axis of conatiner - H */
}
.column{
    flex-direction: column;
}

.img-magnifier-glass {
    position:absolute;
    border: 1px solid #AEFF00;
    cursor: none;
    width: 140px;
    height: 200px;
}


.topnav{
    width: 100%;
    height:var(--navbar-height);
    box-shadow: 0px 5px 15px lightgrey;
    background-color: white;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    transition: 0.4s;
}
.hidden-nav{
    transform: translateY(-200%);
}

.nav-title{
    font-size: 20px;
    margin-left: 10px;

}
.link-section{
    display: flex;
    margin-left: 5%;
    width: 60%;
}
.link{
    display: flex;
}
.link-2{
    margin-left: 10%;
}

.nav-item3{
    margin-right: 20px;
}

.not-active{
    opacity: 0;
}

.wrapper{
    height: calc(100vh - 40px);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    /* -webkit-transition: background-color .5s ease; */
    /* transition: background-color .5s ease; */
}
.modal-wrapper{
    position: absolute;
    border: 1px solid;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
}
.context-header{
    display: flex;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 13px;
    height: 30px;
}
.context-title{
    display: flex;
    font-size: inherit;
}
.close-context{
    font-family: var(--sans-font);
    font-size: inherit;
    position: absolute;
    right: 1%;
    line-height: 16px;
    cursor: pointer;
}

.modal-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.img-wrapper{
    justify-content: center;
    position: relative;
    height: inherit;
    overflow: hidden;
}

.city{
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.project{
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.visibility-toggle{
    visibility: hidden;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    width: 2.3vw;
    min-width: 24px;
    padding: 15px 0;
    -webkit-transition: flex .4s ease;
    transition: flex .4s ease;
    border: 1px solid;
    border-right: 0px solid;
    justify-content: flex-start;
    overflow-y: auto;
}
.container.column:not(.active) {
    overflow-y: hidden;
}
.cat-focus{
    box-shadow: inset 0px 0px 17px #AEFF00;
    width: 2.6vw;
}
.in-focus{
    box-shadow: inset 0px 0px 7px #AEFF00;
}
.ghost-title{
    position: absolute;
    /* line-height: 2.3vw; */
    writing-mode: vertical-lr;
    font-size: 14px;
}
.title{
    line-height: 2.3vw;
}
.content-section{
    opacity: 0;
    transition: opacity 0.1s ease;
}
.active{
    flex: 1;
    padding: 15px 20px 0 48px;
    z-index: 2;
}
.hide-title{
    opacity: 0;
}
.hide-ghost{
    display: none;
}
.disabled{
    pointer-events: none;
}
.show-title{
    opacity: 1;
}

.section-title{
    font-size: 48px;
    margin-bottom: 24px;
}
/* .num-title{

} */
.elem-number{
    font-size: 60px;
    margin-bottom: 42px;
}
.about-text{
    font-family: var(--sans-font);
    font-size: 60px;
    line-height: 100%;
    padding-left: 24px;
}
.sub-title{
    margin-bottom: 18px;
}
.body-text{
    font-family: var(--sans-font);
    width: 95%;
    margin-bottom: 12px;
}
.cat_box_wrapper{
    flex-wrap: wrap;
    margin: auto;
}

.compare{
    flex-basis: 100%;
    max-height: 30px;
    border: 1px solid;
    border-top: 0px;
}
.compare-title::before {
    content: "⭣ ↓ ";
    /* animation: bounce 2s ease infinite; */
}
.compare-title::after {
    content: "⭣ ↓ ";
    /* animation: bounce 2s ease infinite; */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-6px);
    }
    60% {
      transform: translateY(-2px);
    }
}
.box{
    width: 158px;
    height: 158px;
}
.box:hover{
    border: 1px solid;
}
.box-img{
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    top: 0px;
    left: 0px;   
    display: flex;
}
.modal-img {
    height: inherit;
    width: inherit;
    max-height: 700px;
    max-width: 1300px;
}

/* COMPARE */

#force-layout{
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
}
.prova{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: red;
}


.filter_buttons_space {
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50%;
    height: 30px;

}
#filter_by{
    font-family: var(--sans-font);
    font-size: 11px;  
}

.cathegory_button{
    margin-left: 30px;
    font-size: 11px;
    outline: 1px solid #000;
    width: 180px;
    padding: 4px 5px;
    bottom: 0px;
    background-color: white;
    z-index: 1;
}

#project_label{
    left: 50px;
}

#position_label{
    left: 250px;
}

#position_filters{
    position: absolute;   
    left: 290px;
    bottom: 24px;  
    cursor: pointer;
}
#project_filters{
    position: absolute;
    left: 100px;
    bottom: 40px;
    cursor: pointer;
}

.closed{
    /* visibility: hidden; */
    /* display: none; */
}

.filter_button{
    font-size: 11px;
    outline: 1px solid #000;
    height: 20px;
    width: 180px;
    position: relative;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    background-color: white; 
}

#reset_filters{
    font-family: var(--sans-font);
    font-size: 11px;
    margin-left: 30px;
    text-decoration: underline;
    cursor: pointer;
}





/* HOMEPAGE */

.splash-wrapper{
    height: 90vh;
    width: 100vw;
    padding-top: 15%;
}

#wall{
    position: absolute;
    top: 0%;
    justify-content: space-evenly;
    width: 100vw;
    height: 100%;
}

.label{
    opacity: 0;
}
.label:hover{
    opacity: 1;
}

.home-title-wrapper{
    position: absolute;
    padding: 2% 0 0 2%;
}
.home-title{
    font-size: 60px;
    margin-bottom: 6px;
}
.claim{
    font-size: 14px;
    margin-left: 1%;
}
.section-wrapper{
    margin-top: -7%;
    width: 90%;
}
.section{
    width: 28%;
    margin: 0 7%;
    height: 44px;
    background-color: white;
    border: 1px solid;
    z-index: 100;
}
.shadow-overlay{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 87.74%);
}
.main-wrapper{
    width: 96vw;
    margin: 0 auto;
}
.main-text{
    font-family: Neurial Grotesk regular;
    font-size: 32px;
}
.question{
    margin-top: 40px;
    max-width: 80%;
}
.question span{
    font-family: Suisse Intl bold;
}
.home-img-wrapper{
    margin: 40px 0 0 0;
    position: relative;
}
.stacked-img{
    max-height: 660px;
}
.hover-me{
    position: absolute;
    font-family: var(--sans-font);
    z-index: 2;
    top: 2%;
    right: 2%;
}
.no-people{
    position: absolute;
}
.no-people:hover{
    opacity: 0;
}

/* MAP */
.map-container{
    position: relative;
    width: 100%;
    margin-top: 40px;
    display: flex;
    height: 100vh;
}
.milan-map-txt{
    display: flex;
    width: 35%;
}
#map_container{
    width: 65%;
}
#Livello_1{
    max-height: 100%;
}
#mapbutton_container{
    margin-top: 80px;
}
.map_button{
    outline: 1px solid;
    padding: 4px 5px;
    margin: 10px 0;
    width: fit-content;
    font-family: Suisse Intl bold;
    font-size: 11px;
    cursor: default;
}
.mapitem_hidden{
    display: none;
}

.sd{
    transition: all .4s ease;
}
.sd:hover{
    fill: #aeff00;
    r: 10;
}
.focus{
    fill: #aeff00;
    r: 10;
}

.move_n_co-inventing_doria{
    transform: translate(-3%, 6%);
}

.move_n_lambrate_streaming{
    transform: translate(3%, 6%);
}


.map_point_hover{
    height: 30px;
    width: 30px;
    background-color: #aeff00;
}


/* FOOTER */
footer {
    margin: 2rem 0;
    padding: 0 1rem; 
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    font-size: 1rem;
}

footer * {
    grid-column: span 1;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, 65px);
    column-gap: 0.5rem;
}

.logo * {
    grid-column: span 1;
}

.icon {
    vertical-align: bottom;
    padding-bottom: 0.6rem;
}

footer img {
    height: 50px;
    width: auto;
}

footer h1 {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    line-height: 1.5;
}